@import "tailwindcss";
html,
body,
:root{
    height: 100%;
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
   z-index: 0 !important;
}
.leaflet-container {
  font-family: inherit;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.custom-marker {
  background: transparent;
  border: none;
}